html {
  line-height: 1.4;
}

body {
  padding-bottom: 5rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.posts li {
  margin: 1rem 0;
}

.posts .description {
  font-size: 125%;
}

.posts .description,
.posts a[href],
.posts date {
  display: block;
}

.read {
  opacity: 0.5;
}

.deleted {
  background-color: red;
  opacity: 0.5;
}

.delete {
  float: right;
}
